body {
  margin-top: 60px !important;
  position: relative;
}

footer {
  background-color: #343a40;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
}

#icon {
  font-size: 30px;
  color: white !important;
}

.dropdown-menu{
  color: white !important;
}

.cart-link{
  color: white !important;
  margin-right: 10px;
}
