body {
  margin-top: 60px !important;
  position: relative;
  overflow-x: hidden;
}

/* Make the header transparent */
#header {
  background-color: #343a40 !important;
}

/* Make the header dark when scrolling down */
/* .dark-header {
  background-color: #343a40 !important;
} */

main {
  /* overflow: auto; */
  height: auto;
  /* background: #000 ; */
}

footer {
  background-color: #343a40;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
}

#icon {
  font-size: 30px;
  color: white !important;
}

.dropdown-menu{
  color: white !important;
}

.cart-link{
  color: white !important;
  margin-right: 10px;
}
