/* body {
  margin-top: 60px !important;
  position: relative;
} */

main {
  /* overflow: auto; */
  /*! height: auto; */
  /* background: #000 ; */
}

.image {
  height: 100%;
  width: 200px;
  margin-bottom: 20px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.image-item{
  height: 300px !important;
}

.latest-item{
  width: 200px !important;
}

