/* Make the header transparent */
#header {
  transition: background-color 0.2s ease-in-out;
}

/* Make the header dark when scrolling down */
.dark-header {
  background-color: #343a40 !important;
}

#icon{
  font-size: 30px;
  border: 1px solid darkblue;
  border-radius: 50%;
  font-weight: thin;
}